<!DOCTYPE html>
<html lang="en">
    <head>
    {{>head}}
    <link rel="stylesheet" href="css/auth.css">
    </head>

<body>
    {{>navbar}}
        <div class="errorcontainer">
            <h1><span class="e404">Authentication Problem</span></h1>
            <span class="notFound">To access this page you have to <a href="/login">login</a> first</span>
        </div>

    <script src="js/index.js"></script>
</body>
</html>