<!DOCTYPE html>
<html lang="en">
    <head>
    {{>head}}
    <link rel="stylesheet" href="css/index.css">
    </head>

<body>
    {{>navbar}}
    
     <div class="dark-btn">
        <span></span>
    </div>


    <div class="bigContainerOfIndex">
        <div class="containerOfIndex">
            <h1>Hey {{indexHeading}}</h1>
            <h1>Hey There This</h1>
        </div>
    </div>

    {{>footer}}

    <script src="js/index.js"></script>
</body>
</html>