<!DOCTYPE html>
<html lang="en">
    <head>
    {{>head}}
    <link rel="stylesheet" href="css/invalid.css">
    </head>

<body>
        <div class="invalidContainer">
            <h1 class="error">Invalid <span class="email">Email</span> or <span class="password">Password</span></h1>
            <a href="/"><button class="invalidButton">Go Back</button></a> 
        </div>

    <script src="js/index.js"></script>
</body>
</html>