<!DOCTYPE html>
<html lang="en">
    <head>
    {{>head}}
    <link rel="stylesheet" href="css/invalid.css">
    </head>

<body>

        <div class="invalidContainer">
            <h1 class=".unmatchedPassword">Password and Confirm Password are not matching</span></h1>
            <a href="/registeration"><button class="unmatchedButton">Go Back</button></a> 
        </div>

    <script src="js/index.js"></script>
</body>
</html>